 body {
     background-color: #fbfbfb;
 }

 @media (min-width: 991.98px) {
     main {
         padding-left: 240px;
     }
 }

 /* Sidebar */
 .sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     padding: 58px 0 0;
     /* Height of navbar */
     box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
     width: 240px;
     z-index: 600;
 }

 @media (max-width: 991.98px) {
     .sidebar {
         width: 100%;
     }
 }

 .sidebar .active {
     border-radius: 5px;
     box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
 }

 .sidebar-sticky {
     position: relative;
     top: 0;
     height: calc(100vh - 48px);
     padding-top: 0.5rem;
     overflow-x: hidden;
     overflow-y: auto;
     /* Scrollable contents if viewport is shorter than content. */
 }

 /* Remove top right corner links icons */
 .navbar-nav {
     margin-right: 0;
 }

 /* Navbar background color */
 .navbar {
     background-color: rgb(2, 2, 2);
 }

 /* Toggler icon color for smaller screens */
 /* @media (max-width: 991.98px) {
     .navbar-toggler-icon {
         filter: invert(100%); 
         color: #fbfbfb;
         z-index: 1000;
     }
 }*/

 /* Responsive card styling */
 .card {
     margin-bottom: 20px;
 }

 .card-body {
     text-align: center;
 }

 .carousel-inner img {
     width: 100%;
     height: auto;
 }

 .carousel-controls {
     text-align: center;
     margin-top: 10px;
 }

 .carousel-item {
     position: relative;
 }

 .carousel-buttons {
     position: absolute;
     bottom: 10px;
     right: 50px;
 }

 .carousel-buttons button {
     margin-left: 5px;
 }