html, body {
    width: 100%;
}

.container {
    width: 100%;
}

.navbar {
    background-color: black;
    color: white;
}

/* hamburger */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logo {
    width: 50px;
}

.navigations-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 37, 37, 0.753);
    padding: 20px;
}

.navigations-links a {
    padding: 0px 14px;
    border-right: 2px solid black;
    color: white;
    text-decoration: none;
}

.navigations-links a:hover {
    color: red;
}

.navigations-links a:last-child {
    border: none;
}

/* ^ Cards */

.card {
    overflow: hidden;
    color: black;
    /* border-radius: 15px; */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover {
    color: red;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.row a:hover {
    text-decoration: none;
}

.pagination {
    justify-content: center;
}  

/* ^ Footer */

.footer {
    /* position: fixed; */
    bottom: 0;
    background-color: rgba(40, 37, 37, 0.753);
    padding: 10px 0;
    text-align: center;
    color: white;
}

/* ^ Responsive Styles */

@media (max-width: 768px) {
    .navigations-links {
        flex-direction: column;
        padding: 10px;
    }

    .navigations-links a {
        padding: 10px 0;
        border-right: none;
        border-bottom: 2px solid black;
        width: 100%;
        text-align: center;
    }

    .navigations-links a:last-child {
        border-bottom: none;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro .text .name-rating {
        margin: 0;
    }

    .intro .text .divide {
        margin: 0;
    }

    .intro .photo {
        margin: 0;
    }
}
